<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
        <%- include('./header') %>
    </header>
		<main>
        당신의 개인 약사입니다.
        <br>
        <% if (typeof user_info != 'undefined') { %>
          <%=user_info.id%>님에게 최적의 경험을 제공하겠습니다.
          <p> 현재 당신이 먹고 있는 약입니다.</p>
        <% } else { %>
            <p>사용자 정보가 없습니다.</p>
        <% } %>
        
        <br>
        <div class="container">
          <div class="row">
            <div class="col">
              <img class="img-thumbnail" id="plej" width="300dp" height="300dp" src="https://i.ibb.co/nkLhygK/1.jpg"  alt="test" hidden >
            </div> 
            <div class="col">
              <img class="img-thumbnail" width="300dp" height="300dp" src="https://i.ibb.co/wYTDPYC/2-500mg.png"  alt="test" hidden>
            </div>
            <div class="col">
              <img class="img-thumbnail" width="300dp" height="300dp" src="https://i.ibb.co/zfg7LwF/3.png"  alt="test" hidden>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <img class="img-thumbnail" width="300dp" height="300dp" src="https://i.ibb.co/3hyWzkH/4.jpg"  alt="test" hidden>
            </div> 
            <div class="col">
              <img class="img-thumbnail" width="300dp" height="300dp" src="https://i.ibb.co/8mJDkps/5-10mg.png"  alt="test" hidden>
            </div>
            <div class="col">
              <img class="img-thumbnail" width="300dp" height="300dp" src="https://i.ibb.co/LpbSnBP/6-250mg.png"  alt="test" hidden>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <img class="img-thumbnail" width="300dp" height="300dp" src="https://i.ibb.co/JdBzqJm/7.jpg"  alt="test" hidden>
            </div> 
            <div class="col">
              <img class="img-thumbnail" width="300dp" height="300dp" src="https://i.ibb.co/1KQ91gm/8.jpg"  alt="test" hideen>
            </div>
            <div class="col">
              <img class="img-thumbnail" width="300dp" height="300dp" src="https://i.ibb.co/1KQ91gm/8.jpg"  alt="test" hidden>
            </div>
          </div>
        
        
        
        
        
        
        
      </div>
    </main>
  </body>

  <script src="index.js">
    
  </script>
</html>